# Introduction of Python - Part 2!!

## Tuple, List, & Set

Dalam Python, ada berbagai tipe data: string, integer dan float. Tipe data ini semua dapat disimpan didalam suatu tempat bernama **Tuple**, **List** dan juga **Set**. Lalu apakah perbedaan dari ketiganya?

**Tuple** adalah sebuah tempat penyimpanan data yang dimana memilki sifat **Immutable** yang berarti nilai yang terdapat di dalam **Tuple** tidak dapat dirubah lagi setelah di deklarasikan. Penulisan **Tuple** menggunakan tanda buka dan tutup kurung biasa.

In [0]:
# Membuat Tuple

tuple1 = ("disco lazy time", 10, 1.2 )
tuple1

('disco lazy time', 10, 1.2)

**Tuple** bersifat ordered, yang dimana berarti **Tuple** dapat dipanggil menggunakan konsep indexing dan untuk urutannya dapat dilihat dari data pertama yang masuk.

In [0]:
# Print setiap index dari tuple

print(tuple1[0])
print(tuple1[1])
print(tuple1[2])

disco
10
1.2

Percobaan merubah isi **Tuple**.

In [0]:
# Percobaan merubah isi Tuple

tuple1[1] = "pop"

TypeError: ignored

**List** sama dengan Tuple adalah sebuah simple collection object yang dapat menampung berbagai macam tipe data ataupun object di dalamnya. Perbedaannya dengan Tuple adalah **List** bersifat Mutable yang artinya isi dari **List** dapat dirubah kapan pun.

Untuk penulisan dari **List** menggunakan buka dan tutup kurung siku.

In [0]:
# Membuat sebuah list

List = ["Michael Jackson", 10.1, 1982]
List

['Michael Jackson', 10.1, 1982]

**List** dapat berisi string, float, dan integer. Kita juga dapat membuat nested list, membuat tuple dan struktur data lainnya pada **List**.

In [0]:
# Membuat sebuah list dengan isi nested list dan Tupple

List = ["Michael Jackson", 10.1, 1982, [1, 2], ("A", 1)]
List

['Michael Jackson', 10.1, 1982, [1, 2], ('A', 1)]

Untuk menambahkan data ke dalam list kita dapat menggunakan 2 buah fungsi, yaitu **append()** dan **extend()**.

Perbedaan antara **append()** dan **extend()** terletak pada jumlah data yang ditambahkannya. Untuk lebih jelasnya dapat dilihat pada baris kode dibawah:

In [0]:
# Menggunakan extend untuk menambah data

List = [ "Michael Jackson", 10.2]
List.extend(['pop', 10])
List

['Michael Jackson', 10.2, 'pop', 10]

In [0]:
# Menggunakan append untuk menambah data

List = [ "Michael Jackson", 10.2]
List.append(['pop', 10])
List

['Michael Jackson', 10.2, ['pop', 10]]

Dari kode diatas dapat dilihat perbedaan ketika menggunakan **append()** dan **extend()**, ketika menambahkan 2 data melalui fungsi **extend()** maka data akan bertambah 2 sejumlah yang diinputkan, tetapi ketika menggunakan fungsi **append()** data yang ditambahkan akan digabung menjadi sebuah **list** lalu ditambahkan ke dalam **list** yang kita inginkan.

Karena **list** bersifat **Mutable**, maka kita dapat merubah isi data yang telah ada didalam **list**.

In [0]:
print("List Before Change: ", List)
List[0] = "Janet Jackson"
print("List After Change: ", List)

List Before Change:  ['Michael Jackson', 10.2, ['pop', 10]]
List After Change:  ['Janet Jackson', 10.2, ['pop', 10]]

Kita juga dapat menghapus anggota data dari **list** menggunakan fungsi **del()**.

In [0]:
print('Before change:', List)
del(List[0])
print('After change:', List)

Before change: ['Michael Jackson', 10.2, 'pop']
After change: [10.2, 'pop']

**Set** adalah sebuah unique collection object yang ada dalam bahasa pemrograman Python. Sama halnya dengan **Tuple** dan **List**, kita dapat menyimpan banyak data dengan tipe data berbeda dalam satu **Set**. Kita dapat merepresentasikan sebuah **Set** dengan tanda kurung kurawal.

**Set** bersifat unordered sehingga tidak memungkinkan untuk melakukan indexing jika menggunakan **Set**. **Set** juga bersifat **unique**, yang berarti setiap data didalam **Set** tidak boleh ada yang sama atau unik. Jika saat inisialisasi terdapat data yang sama maka Python otomatis akan menghapus data yang sama dan hanya menyisakan 1 data.

In [0]:
# Create a set

set1 = {"pop", "EDM", "ballad", "ballad", "rock", "soul", "hard rock", "rock", "R&B", "rock", "disco"}
set1

{'EDM', 'R&B', 'ballad', 'disco', 'hard rock', 'pop', 'rock', 'soul'}

Kita juga dapat membuat sebuah **Set** dengan mengkonversi **list** menjadi **Set** seperti contoh kode dibawah: 
(so you know the unique value)

In [0]:
# Merubah list menjadi set

genres = ["pop", "pop", "rock", "folk rock", "hard rock", "soul",
                    "progressive rock", "soft rock", "R&B", "disco"]
music_genres = set(genres)
music_genres

{'R&B',
 'disco',
 'folk rock',
 'hard rock',
 'pop',
 'progressive rock',
 'rock',
 'soft rock',
 'soul'}

In [0]:
# Atau dengan cara

music_genres = set(["pop", "pop", "rock", "folk rock", "hard rock", "soul",
                    "progressive rock", "soft rock", "R&B", "disco"])
music_genres

{'R&B',
 'disco',
 'folk rock',
 'hard rock',
 'pop',
 'progressive rock',
 'rock',
 'soft rock',
 'soul'}

### Set Operation

  Berikut adalah beberapa operasi yang dapat dilakukan pada **Set**.

In [0]:
# Membuat sample set

A = set(["Thriller", "Back in Black", "AC/DC"])
A

{'AC/DC', 'Back in Black', 'Thriller'}

Kita dapat menggunakan fungsi **add()** untuk menambahkan elemen pada **Set**.

In [0]:
# Menambahkan elemen pada set

A.add("NSYNC")
A

{'AC/DC', 'Back in Black', 'NSYNC', 'Thriller'}

Kita dapat menghapus elemen pada **Set** menggunakan fungsi **remove()**.

In [0]:
# Menghapus elemen dari set

A.remove("NSYNC")
A

{'AC/DC', 'Back in Black', 'Thriller'}

Untuk memperiksa apakah suatu elemen terdapat di dalam **Set** kita dapat menggunakan perintah **in**.

In [0]:
# Memeriksa elemen di dalam set

"AC/DC" in A

True

In [0]:
# Memeriksa elemen di dalam set

"NSYNC" in A

False

### Set Logic Operation

Pada bagian ini kita akan mencoba melakukan fungsi logika pada **Set** yaitu **intersection**, **difference**, dan **union**.

In [0]:
# Membuat sample set

twice_song1 = set(["Cheer Up", 'Fancy', 'TT', "Yes or Yes", "Signal"])
twice_song2 = set([ "Like Oh-Ah", "TT", "Likey", "What Is Love?", "Heartshaker", "Signal", "Cheer Up"])

Dari baris kode diatas kita telah membuat 2 buah set yang berisikan judul lagu dengan data masing masing set adalah sebagai berikut:

In [0]:
twice_song1

{'Cheer Up', 'Fancy', 'Signal', 'TT', 'Yes or Yes'}

In [0]:
twice_song2

{'Cheer Up',
 'Heartshaker',
 'Like Oh-Ah',
 'Likey',
 'Signal',
 'TT',
 'What Is Love?'}

Dari 2 buah set yang telah dibuat kita akan mengambil data yang sama terdapat di 2 buah set tersebut dengan menggunakan fungsi **intersection**.

In [0]:
intersection = twice_song1 & twice_song2
intersection

{'Cheer Up', 'Signal', 'TT'}

In [0]:
twice_song1.intersection(twice_song2)

{'Cheer Up', 'Signal', 'TT'}

Dari kode diatas, telah didapatkan data yang termasuk ke dalam 2 set tersebut, yaitu: **Cheer Up**, **Signal** dan **TT**.

Selanjutnya kita dapat menampilkan data pada **twice_song1** yang tidak sama dengan data pada **twice song2**, begitupun sebaliknya menggunakan fungsi **difference()**.

In [0]:
twice_song1.difference(twice_song2)

{'Fancy', 'Yes or Yes'}

In [0]:
twice_song2.difference(twice_song1)

{'Heartshaker', 'Like Oh-Ah', 'Likey', 'What Is Love?'}

Selanjutnya, untuk memeriksa union atau gabungan dari 2 set dapat menggunakan fungsi **union()**.

In [0]:
twice_song1.union(twice_song2)

{'Cheer Up',
 'Fancy',
 'Heartshaker',
 'Like Oh-Ah',
 'Likey',
 'Signal',
 'TT',
 'What Is Love?',
 'Yes or Yes'}

Terakhir, untuk memperiksa apakah sebuah data termasuk sub set dari suatu set dapat menggunakan fungsi **issubset()** dan jika ingin memperiksa apakah suatu elemen merupakan sebuah super set dari sebuah elemen dapat menggunakan fungsi **issuperset()**.

In [0]:
# Penggunaaan issuperset

set(twice_song1).issuperset(twice_song2)

False

In [0]:
# Cara lain penggunaan issuperset

set(twice_song1).issuperset({"TT", "Yes or Yes"})

True

In [0]:
# Penggunaan issubset

set({"Like Oh-Ah", "TT"}).issubset(twice_song1)

False

In [0]:
# Cara lain penggunaan issubset

set(twice_song1).issubset(twice_song2)

False

### Exercise: Tuple, List & Set

Buatlah 3 buah list yang yang masing-masing berisikan 5 data dan 3 list tersebut memilki data yang sama satu sama lain dengan jumlah yang tidak ditentukan.

In [0]:
# Write your code below and press Shift+Enter to execute
List1 = ["Harry Potter", "Lumos", 13, 2.5, "Draco"]
List2 = ["Lumos", 67, 9.5, 12, "Malfoy"]
List3 = [67, "Hermione", "Hagrid", 2.5, "Draco"]

print(List1)
print(List2)
print(List3)

['Harry Potter', 'Lumos', 13, 2.5, 'Draco']

Konversi seluruh list yang telah dibuat sebelumnya menjadi sebuah set.

In [0]:
# Write your code below and press Shift+Enter to execute
Set1 = set(List1)
Set2 = set(List2)
Set3 = set(List3)

Tampilkan masing-masing data dari setiap set yang telah dibuat.

In [0]:
# Write your code below and press Shift+Enter to execute

print(Set1)
print(Set2)
print(Set3)

{2.5, 'Harry Potter', 'Draco', 13, 'Lumos'}
{67, 'Malfoy', 9.5, 12, 'Lumos'}
{2.5, 67, 'Hagrid', 'Draco', 'Hermione'}

Dari 3 set diatas buatlah sebuah set baru yang berisikan data elemen yang merupakan intersection antara set 2 dan set 3, dan merupakan difference antara set 1 dan set 3.

In [0]:
# Write your code below and press Shift+Enter to execute
intersec = Set2 & Set3 
diff = Set1.difference(Set3)

intersec.union(diff)

{13, 67, 'Harry Potter', 'Lumos'}

## Condition Statement in Phyton

### Comparison Operators

Operasi perbandingan membandingkan sebuah nilai ataupun operasi berdasarkan sebuah kondisi dan menghasilkan sebuah nilai boolean. Untuk membandingkan 2 nilai kita dapat menggunakan operator:


* sama dengan: **==**
* tidak sama dengan: **!=**
* lebih besar dari: **>**
* kurang dari: **<**
* lebih besar atau sama dengan: **>=**
* kurang dari atau sama dengan: **<=**

In [0]:
# Sama dengan

a = 10
a == 5

False

In [0]:
# Lebih besar dari

i = 8
i > 5

True

In [0]:
# Tidak sama dengan

i = 2
i != 6

True

Operasi perbandingan juga dapat digunakan untuk membandingkan huruf / kata / simbol sesuai dengan nilai ASCII dari karakter.

Note: Nilai ASCII dari huruf besar dan kecil berbeda, sehingga jika membandingkan **A** dengan **a** akan menghasilkan hal yang berbeda.

In [0]:
# Membandingkan karakter

'BA' == 'ba'

False

### Branching

**Branching** atau **Percabangan** memungkinkan kita untuk menjalankan pernyataan yang berbeda untuk setiap input yang berbeda.

Sebagai contoh jika pernyataan itu **Benar** kita dapat memasuki suatu opsi percabangan dan program akan menjalankan beberapa tugas yang telah ditentukan, tetapi jika pernyataan itu **Salah** program akan mengabaikan tugas ataupun menjalankan opsi percabangan lain.

**Single if statement**

Kita dapat menggunakan condition statement yang dipelajari sebelumnya untuk  memeriksa persyaratan dalam statement if.

Sintaksnya adalah **if condition statement:**. Tulis kode yang perlu dijalankan dalam kondisi ini di baris baru dengan indent. Baris kode setelah titik dua dan dengan indent yang hanya akan dieksekusi ketika pernyataan if bernilai **True**. Kode akan berakhir ketika baris kode tidak mengandung indent.

In [0]:
# Contoh if statement

age = 19

# Ekspresi yang dapat menghasilkan nilai True atau False
if age > 18:
    
    # Baris baru menggunakan indent, kita akan menjalankan baris kode jika kondisi bernilai True
    print("you can enter" )

# Statement dibawah ini akan berjalan tanpa memperdulikan hasil dari statement if
print("have fun")

you can enter
have fun

Dalam kasus diatas ini, kode yang dijalankan adalah untuk mencetak ***("you can enter")*** hanya jika variabel age bernilai lebih dari 18 karena baris kode ini memiliki indent. Namun, kode untuk mencetak ***("have fun")*** akan selalu dieksekusi dan tidak akan terpengaruh oleh pernyataan if.

**If-else statement**

Statement else akan menjalankan blok kode jika tidak ada kondisi yang Benar sebelum statement else ini, dengan kata lain statement else berguna sebagai tempat menampung untuk kondisi bernilai **Salah**. 

Sintaks pernyataan else sama dengan sintaks pernyataan if, dengan penulisan **else:**.

In [0]:
# Contoh statement else

age = 18

if age > 18:
    print("you can enter")
else:
    print("you can't enter")
    
print("have fun")

you can't enter
have fun

**If-else if-else statement**

Statement elif merupakan kependekan dari else if, memungkinkan kita untuk memeriksa kondisi tambahan jika kondisi pada statement sebelumnya salah. Jika kondisi untuk pernyataan elif Benar, ekspresi alternatif tersebut akan dijalankan dan sisa statement yang lain akan dilewati.

Penulisan syntax untuk statement else if adalah **elif condition statement:**.

In [0]:
# Contoh statement elif

age = 18

if age > 18:
    print("you can enter" )
elif age == 18:
    print("you can enter too")
else:
    print("you can't enter" )
    
print("have fun")

you can enter too
have fun

### Logical Operators

Terkadang kita ingin memeriksa lebih dari satu kondisi sekaligus. Misalnya, kita mungkin ingin memeriksa apakah satu kondisi dan kondisi lainnya Benar untuk menjalankan beberapa baris kode. Operator logika memungkinkan kita untuk menggabungkan atau mengubah kondisi, berikut adalah beberapa operator logika yang digunakan

* and
* or
* not

Operator-operator ini diringkas untuk dua variabel menggunakan tabel kebenaran seperti gambar berikut:

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%203/Images/CondsTable.png" width="650" />

In [0]:
# Contoh penggunaan operator logika and

album_year = 1980

if(album_year > 1979) and (album_year < 1990):
    print ("Album year was in between 1980 and 1989")
    
print("end")

Album year was in between 1980 and 1989
end

Dari kode diatas dapat disimpulkan bahwa penggunaan operator **and** membuat kondisi dari statement if bertambah, dimana kondisi mengharuskan data album_year berada pada lebih besar dari 1979 **dan** kurang dari 1990 untuk mendapatkan nilai True. Penggambarannya dapat dilihat pada gambar dibawah.

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%203/Images/CondsEgOne.png" width="650" />

In [0]:
# Contoh penggunaan operator or

album_year = 1990

if(album_year < 1980) or (album_year > 1989):
    print ("Album was not made in the 1980's")
else:
    print("The Album was made in the 1980's ")

Album was not made in the 1980's

Dari kode diatas dapat disimpulkan bahwa penggunaan operator **or** membuat kondisi dari statement if bertambah, dimana kondisi mengharuskan data album_year berada pada kurang dari 1980 **atau** lebih besar dari 1990 untuk mendapatkan nilai True. Penggambarannya dapat dilihat pada gambar dibawah.

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%203/Images/CondsEgTwo.png" width="650" />

In [0]:
# Contoh penggunaan operator not

album_year = 1983

if not (album_year == '1984'):
    print ("Album year is not 1984")

Album year is not 1984

Operator **not** digunakan untuk membalik sebuah kondisi menjadi nilai kebalikannya, semisal **True** akan berubah menjadi **False** dan begitu juga sebaliknya.

### Exercise: Condition Statement

Tulis sebuah kode yang akan menentukan apakah sebuah album keluar sebelum 1980 atau pada tahun: 1991 atau 1993. Jika kondisinya benar, cetak "Album Telah Keluar Pada Tahun Tersebut", jika kondisinya salah cetak "Album Belum Rilis".

In [0]:
# Write your code below and press Shift+Enter to execute
album_year = 2000

if (album_year < 1980) or (album_year == 1991) or (album_year == 1993):
  print("Album Telah Keluar Pada Tahun Tersebut")
else:
  print("Album Belum Rilis")

Album Belum Rilis

## Loops in Python

Terkadang, kita mungkin ingin mengulangi operasi yang diberikan berkali-kali. Eksekusi berulang seperti ini dilakukan oleh loop. Kita akan membahas dua jenis loop, yaitu **for loop** dan **while loop**.

**Range**

Sebelum kita membahas loop, mari kita bahas object **range**. Range akan sangat membantu sebagai rentang atau jangakaun daftar yang diurutkan.

Untuk sekarang, mari kita lihat kasus paling sederhana. Jika kita ingin membuat urutan yang berisi tiga elemen yang dimulai dari 0 hingga 2, kita cukup menggunakan perintah berikut:

In [0]:
# Penggunaan range

range(3)

range(0, 3)

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%203/Images/LoopsRange.png" width="300" />

### For Loops

**For loop** memungkinkan kita untuk menjalankan blok kode beberapa kali sesuai jumlah yang telah ditentukan. Misalnya, kita akan menggunakan ini untuk mencetak sebuah output sebanyak 3 kali ataupun menerima input sebanyak 3 kali.

In [0]:
# Contoh for loop

dates = [1982,1980,1973]
N = len(dates)

for i in range(N):
    print(dates[i])

1982
1980
1973

In [0]:
# Contoh lain penggunaan for loop

for i in range(0, 8):
    print(i)

0
1
2
3
4
5
6
7

Khusus pada Python kita dapat langsung mengakses jumlah elemen dari list dengan memanggil nama listnya langsung pada syntax **for loops** kita.

In [0]:
# Contoh penggunaan for loops dengan langsung memanggil list

for year in dates:  
    print(year)

1982
1980
1973

Ataupun kita dapat menggunakan 2 parameter penghitung pada sebuah syntax **for loops** seperti pada contoh dibawah:

In [0]:
# Contoh Penggunaan 2 paramater penghitung pada for loops

squares=['red', 'yellow', 'green', 'purple', 'blue']

for i, square in enumerate(squares):
    print(i, square)

0 red
1 yellow
2 green
3 purple
4 blue

### While Loops

Seperti yang kita lihat, for loops digunakan untuk aliran pengulangan yang terkontrol. Namun, bagaimana jika kita tidak tahu kapan kita ingin menghentikan loop? Bagaimana jika kita ingin terus menjalankan blok kode sampai kondisi tertentu terpenuhi?

**While loops** ada sebagai alat untuk menjalankan eksekusi berulang kali berdasarkan kondisi. Blok kode akan terus dieksekusi sampai kondisi logika yang diberikan mengembalikan nilai boolean False.

In [0]:
# Contoh penggunaan while Loop

dates = [1982, 1980, 1973, 2000]

i = 0
year = 0

while(year != 1973):
    year = dates[i]
    i = i + 1
    print(year)

print("It took ", i ,"repetitions to get out of loop.")

1982
1980
1973
It took 3 repetitions to get out of loop.

### Exercise: Loops

Buatlah sebuah loops yang akan menampilkan angka dari range -10 hingga 10.

In [0]:
# Write your code below and press Shift+Enter to execute
for i in range (-10, 10):
  print (i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1
0
1
2
3
4
5
6
7
8
9

Dari loops yang telah dibuat sebelumnya, modifikasi hingga loops hanya akan menampilkan angka yang merupakan bilangan genap.

In [0]:
# Write your code below and press Shift+Enter to execute
for i in range (-10, 10):
  if (i % 2 == 0) and (i>0):
    print (i)

2
4
6
8

## Functions in Python

**Function** atau **fungsi** adalah sebuah blok kode yang dapat digunakan kembali untuk melakukan tugas yang ditentukan dalam fungsi tersebut. 

Menggunakan fungsi membuat kita dapat memecah tugas dan memungkinkan kita untuk menggunakan kembali kode kita di berbagai program.

Ada dua jenis fungsi:
* **Pre-defined functions**
* **User defined functions**

Kita dapat menentukan fungsi untuk menyediakan kebutuhan fungsionalitas yang diperlukan. Berikut adalah aturan sederhana untuk mendefinisikan fungsi dengan Python:

* Blok fungsi dimulai dengan def lalu diikuti oleh nama fungsi dan tanda kurung ().
* Opsional untuk menempatkan parameter input atau argumen yang di dalam tanda kurung ini.
* Kita juga dapat mendefinisikan parameter di dalam tanda kurung ini.
* Ada body di dalam setiap fungsi yang dimulai dengan titik dua (:) dan diberi indent.
* Kita juga dapat menempatkan dokumentasi di dalam body fungsi
* Return keluar dari suatu fungsi, secara opsional memberikan nilai kembali ketempat fungsi dipanggil

Gambarannya dapat dilihat pada ilustrasi dibawah:

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%203/Images/FuncsDefinition.png" width="500" />

In [0]:
# Contoh membuat sebuah fungsi sederhana

def add(a):
    b = a + 1
    print(a, "if you add one then the result is", b)
    return(b)

In [0]:
# Memanggil fungsi add()

add(1)

1 if you add one then the result is 2

2

**Setting default argument values in your custom functions**

Kita juga dapat menetapkan nilai default untuk argumen di fungsi. Misalnya, dalam fungsi isGoodRating(), bagaimana jika kita ingin membuat ambang batas untuk apa yang kita anggap sebagai rating yang baik? Mungkin secara default, kita seharusnya memiliki rating default 4:

In [0]:
# Example for setting param with default value

def isGoodRating(rating=4): 
    if(rating < 7):
        print("this album sucks it's rating is",rating)
        
    else:
        print("this album is good its rating is",rating)

In [0]:
isGoodRating()
isGoodRating(10)

this album sucks it's rating is 4
this album is good its rating is 10

### Exercise: Functions

Buatlah sebuah fungsi yang dapat menggabungkan 2 string menjadi 1 buah string.

In [0]:
# Write your code below and press Shift+Enter to execute
def combine(a, b):
  hasil = a+b
  #print(hasil)
  return hasil

In [0]:
# Write your code below and press Shift+Enter to execute
combine("Harry ", "Potter")

'Harry Potter'