# Introduction of Python - Writing Your First Python Code!

**Say "Hello to the world" in Python**

In [0]:
print('Hello to the world')

Hello to the world

In [0]:
print("Hello to the world")

Hello to the world

**Note**: string dapat direpresentasikan dengan tanda petik satu ('Hello to the world') atau tanda petik dua ("Hello to the world"), tetapi kita tidak dapat mencampur keduanya ("Hello to the world').

## <h2>Writing comments in Python</h3>

Ketika menulis kode, ada baiknya untuk menambahkan komentar pada baris kode tersebut. Hal ini akan membantu orang lain ataupun diri kita sendiri memahami apa alasan menulis baris kode tersebut dan dapat berfungsi sebagai pengingat bagi anda tentang kode tersebut.

Sama dengan bahasa pemrograman lain, untuk menulis komentar dengan Python dapat menggunakan simbol # sebelum menulis komentar.

In [0]:
# Practice on writing comments

print('Hello to the world') # This line prints a string

Hello to the world

## <h2>Errors in Python</h3>

Setiap orang pasti sering membuat kesalahan saat mengetik kode program. Untuk banyak jenis kesalahan, Python akan memberi tahu kita bahwa kita telah melakukan kesalahan dengan memberi kita error message.

Sangat penting untuk membaca error message dengan cermat untuk benar-benar memahami dimana kita membuat kesalahan dan bagaimana Anda bisa memperbaikinya.

In [0]:
# Print string and error to see the running order

print("This will be printed")
frint("This will cause an error")
print("This will NOT be printed")

This will be printed

NameError: ignored

# Types of variable in Python

Ada banyak jenis variabel dalam Python. Mari kita mulai dengan jenis variabel yang paling umum: string, integer dan float. Kapan saja kita menuliskan kata-kata (teks) dengan Python, maka kita menggunakan tipe variabel string karakter (string pendek). Angka yang paling umum terbagi menjadi 2, pertama adalah bilangan bulat (mis. -1, 0, 100) adalah tipe integer dan float, yang mewakili bilangan pecahan (mis. 3.14, -42.0).

Kita bisa meminta Python untuk memberi tahu kita tipe variabel dengan menggunakan fungsi type().

In [0]:
# Type of 12

type(12)

int

In [0]:
# Type of 2.14

type(2.14)

float

In [0]:
# Type of "Hello, Python 101!"

type("Hello to the world")

str

## <h3>Converting from one variable type to a different variable type

## <h3>Converting integers to floats

In [0]:
# Convert 2 to a float

float(2)

2.0

In [0]:
# Convert integer 2 to a float and check its type

type(float(2))

float

## <h3>Converting floats to integers

Saat kita mengonversi integer menjadi float, kami tidak benar-benar mengubah secara signifikan dari angka tersebut. Namun, jika kita mengubah float ke dalam integer, kita berpotensi kehilangan beberapa informasi. Misalnya, jika kita mengubah float 1.1 ke integer, kita hanya akan mendapatkan 1 dan kehilangan informasi desimal (0,1)

In [0]:
# Casting 1.1 to integer will result in loss of information

int(1.1)

1

In [0]:
# Casting 1.1 to integer will result in loss of information

int(1.1)

1

In [0]:
type(int(1.1))

int

## <h3>Converting numbers to strings

In [0]:
# Convert an integer to a string

str(1)

'1'

In [0]:
type(str(1))

str

In [0]:
# Convert a float to a string

str(1.2)

'1.2'

In [0]:
type(str(1.2))

str

## <h2>Exercise: Types

Boolean adalah satu tipe penting dalam Python. Variabel tipe Boolean dapat mengambil salah satu dari dua nilai: True atau False. Dalam bahasa pemrograman Python, tipe boolean dituliskan dengan keyword bool. Pada Python kita juga bisa mengubah tipe variabel boolean ke tipe data lainnya khususnya numeric.

Jika kita menggunakan boolean dengan nilai True ke integer atau float, bagaimanakah caranya dan apa hasilnya jika merubah menjadi int dan apa hasilnya jika merubah menjadi float, dan bagaimana jika sebaliknya?

In [0]:
# Write your code below. Don't forget to press Shift+Enter to 
int(True)

1

In [0]:
# Write your code below. Don't forget to press Shift+Enter to 
float(False)

0.0

In [0]:
# Write your code below. Don't forget to press Shift+Enter to 
bool(1)

True

In [0]:
# Write your code below. Don't forget to press Shift+Enter to 
bool(1.0)

True

# Expression and Variables

**Expression** dalam Python dapat mencakup operasi di antara jenis yang kompatibel (mis., Bilangan bulat dan pecahan). Misalnya, operasi aritmatika dasar seperti menambahkan beberapa angka, misalnya:

In [0]:
# Addition operation expression

43 + 60 + 16 + 41

160

In [0]:
# Subtraction operation expression

50 - 60

-10

In [0]:
# Multiplication operation expression

5 * 5

25

In [0]:
# Division operation expression

25 / 7

3.5714285714285716

In [0]:
# Integer division operation expression (Modulus)

25 // 7

3

Sama seperti kebanyakan bahasa pemrograman, kita dapat menyimpan nilai dalam **variabel**, sehingga kita bisa menggunakannya nanti dalam program.

In [0]:
# Store value into variable

x = 43 + 60 + 16 + 41

Untuk melihat nilai x dalam program, kita cukup menuliskan nama variabel tersebut dan meletakkannya di baris terakhir sel

In [0]:
# Print out the value in variable

x

160

Menggunakan variabel untuk menyimpan nilai hasil dari operasi.

In [0]:
# Use another variable to store the result of the operation between variable and value

y = x / 60
y

2.6666666666666665

Kita juga dapat menimpa nilai dari suatu variabel dengan nilai yang baru yang didapat dari sebuah operasi ataupun yang lainnya.

In [0]:
# Overwrite variable with new value

x = x / 60
x

2.6666666666666665

Untuk praktek ada baiknya untuk menggunakan nama variabel yang bermakna atau memiliki arti, sehingga kita dan orang lain dapat membaca kode dan memahaminya dengan lebih mudah, contoh:

In [0]:
# Name the variables meaningfully

total_min = 43 + 42 + 57 # Total length of albums in minutes
total_min

142

In [0]:
# Name the variables meaningfully

total_hours = total_min / 60 # Total length of albums in hours 
total_hours

2.3666666666666667

## <h2>Exercise: Expression and Variables in Python

Apa nilai dari x dimana x adalah hasil operasi 3 + 2 * 2

In [0]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
x = 3+2*2
x

7

Apa nilai dari y dimana y adalah hasil operasi (3 + 2) * 2

In [0]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
y = (3+2)*2
y

10

Apa nilai dari x dimana x adalah hasil operasi dari **x** + **x** * **y**

In [0]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
x = x+x*y
x

77

# String Operations

## <h3>Indexing

Setiap elemen dari sebuah string dapat diakses menggunakan indeks yang diwakili oleh array angka.

In [0]:
# Assign string to variable

Name = "Michael Jackson"
Name

'Michael Jackson'

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%201/Images/StringsIndex.png" width="600" align="center" />

**Note**: Karena indexing dimulai dari index ke 0, itu artinya semua index selalu mulai pada index ke 0.

In [0]:
# Print the first element in the string

print(Name[0])

M

In [0]:
# Print the element on the 13th index in the string

print(Name[13])

o

## <h3>Negative Indexing

Kita juga bisa menggunakan pengindeksan negatif dengan string

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%201/Images/StringsNeg.png" width="600" align="center" />

Negative Index dapat membantu kita menghitung elemen dari ujung string dimana index paling terakhir dari string adalah -1.

In [0]:
# Print the last element in the string

print(Name[-1])

n

Untuk mengetahui panjang dari string, kita dapat menggunakan fungsi len().

In [0]:
# Find the length of string

len(Name)

15

In [0]:
# Print the first element in the string

print(Name[-15])

M

## <h3>Slicing

Kita dapat memperoleh beberapa karakter dari potongan sebuah string menggunakan teknik slicing.

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%201/Images/StringsIndex.png" width="600" align="center" />

In [0]:
# Take the slice on variable Name with only index 0 to index 3

Name[0:4]

'Mich'

In [0]:
# Take the slice on variable Name with only index 8 to index 11

Name[8:12]

'Jack'

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%201/Images/StringsSlice.png" width="600" align="center" />

Jika kita tidak menempatkan angka diantara titik dua maka akan menampilkan seluruh index mulai dari pertama hingga terakhir.

In [0]:
# Get every element

Name[:10]

'Michael Ja'

## <h3>Stride</h3>

Kita juga dapat memasukkan nilai langkah dari suatu string dengan mengembangkan teknik slicing, seperti contoh:

In [0]:
# Get every second element. The elments on index 1, 3, 5 ...

Name[::2]

'McalJcsn'

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%201/Images/StringsStride.png" width="600" align="center" />

Dari code diatas, kita mengambil karakter setiap 2 langkah diantara index pertama dan index terakhir.

In [0]:
# Get every second element in the range from index 0 to index 4

Name[0:5:2]

'Mca'

## <h3>Concatenate Strings</h3>

Kita dapat menggabungkan string dengan menggunakan simbol tambah, dan hasilnya adalah string baru yang merupakan kombinasi dari keduanya.

In [0]:
# Concatenate two strings

Statement = Name + " is the best"
Statement

'Michael Jackson is the best'

Untuk mereplikasi nilai string, kita cukup mengalikan string dengan berapa kali kita ingin menggandakannya. Dalam contoh ini, jumlahnya tiga. Hasilnya adalah string baru, dan string baru ini terdiri dari tiga salinan dari string asli.

In [0]:
# Print the string for 3 times

3 * "Michael Jackson"

'Michael JacksonMichael JacksonMichael Jackson'

## <h3 id="operations">Basic String Operations</h2>

Ada banyak metode operasi string dalam Python yang dapat digunakan untuk memanipulasi data. Berikut beberapa operasi string dasar pada data.

Mari kita coba dengan method upper; metode ini mengonversi karakter huruf kecil ke karakter huruf besar.

In [0]:
# Convert all the characters in string to upper case

A = "Thriller is the sixth Michael Jackson studio album"
print("before upper:", A)
B = A.upper()
print("After upper:", B)

before upper: Thriller is the sixth Michael Jackson studio album
After upper: THRILLER IS THE SIXTH MICHAEL JACKSON STUDIO ALBUM

Method replace menggantikan segmen string, yaitu substring dengan string baru. Kita memasukkan bagian dari string yang ingin kita ubah. Argumen kedua adalah dengan apa kami ingin bertukar segmen, dan hasilnya adalah string baru dengan segmen yang diubah:

In [0]:
# Replace the old substring with the new target substring is the segment has been found in the string

C = A.replace('Michael', 'Janet')
C

'Thriller is the sixth Janet Jackson studio album'

Method find() digunakan untuk menemukan sebuah string dari string yang ada dan mengembalikan nilai index dimana string tersebut ditemukan.

In [0]:
# Find the substring in the string. Only the index of the first elment of substring in string will be the output

Name = "Michael Jackson"
Name.find('el')

5

In [0]:
# Find the substring in the string.

Name.find('Jack')

8

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%201/Images/StringsFind.png" width="600" align="center" />

## <h2>Exercise: String Operations

Buatlah beberapa variabel yang akan menyimpan string berisikan setiap kata dari nama lengkap anda.

In [0]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
kata1 = "Trifebi"
kata2 = "Shina"
kata3 = "Sabrila"

'Sabrila'

Buatlah sebuah string yang berisikan gabungan data nama anda sehingga menjadi satu string berisikan nama lengkap, kemudian

In [0]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
nama = kata1+kata2+kata3
nama

'TrifebiShinaSabrila'

Dari string yang berisikan nama tersebut, tampilkan lah 7 karakter pertama dan 3 karakter terakhir dari string tersebut.

In [0]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
a = nama[0:7]
print (a)
b =nama[-3:]
print (b)

Trifebi
ila

Dari string yang berisikan nama tersebut, ambil setiap karakter ke 3 diantara index pertama dan ke 12

In [0]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
nama[0:12:3]

'Tfii'